html, body {
  height: 100%;
  margin: 0;
}

/* Optional: Center footer text */
footer {
  text-align: center;
  padding: 1rem;
  background-color: #f1f1f1;
}

.alert-debug {
  color: black;
  background-color: white;
  border-color: #d6e9c6;
}

.alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

section {
  margin-top: 30px;
}
